<div class="hero-unit">
  <h1>Deferred and Promises in AngularJS</h1>
  
  <ul>
  	<li><h2>Deferred: </h2></li>
  	<li><h3>-Is a state storage object. It is used to represent an asynchronous operation. Which can be successful or not.</h3></li>
  	<li><h2>Promise:</h2></li>
  	<li><h3>-Represens the result of an asynchronous operation. May or may not be finished at any given point in time</h3></li>
  	<li><h3>-Attribute of deferred object</h3></li>
  	<li><h3>-Chainable</h3></li>
  	<li><h3>-Usable in $q.all</h3></li>
 </ul>
</div>
